<html>
<head>
    <title>Halaman Bantuan</title>
    <link rel="icon" href="/img/1779940.png" />
    <link rel="stylesheet" href="/css/style.css" class="rel" />
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="help-container">
            <h1>Butuh Bantuan?</h1>
            <p>{{teksBantuan}}</p>
            
            <h2>Pertanyaan yang Sering Diajukan (FAQ)</h2>
            <div class="faq">
                <h3>1. Bagaimana cara menghubungi dukungan pelanggan?</h3>
                <p>Anda dapat menghubungi kami melalui email di support@example.com.</p>
                
                <h3>2. Apa yang harus saya lakukan jika saya lupa kata sandi saya?</h3>
                <p>Silakan klik 'Lupa Kata Sandi?' di halaman login dan ikuti petunjuknya.</p>
                
                <h3>3. Di mana saya bisa menemukan informasi lebih lanjut tentang produk?</h3>
                <p>Kunjungi halaman produk kami di <a href="/produk">sini</a>.</p>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>
