<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Berita</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/3127/3127236.png" />
    <link rel="stylesheet" href="/css/berita.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />
</head>
<body>
    <div class="container">
    {{>header}}
        <div class="main-container">
            <div class="main-content">
                <h1>Berita Terkini</h1>
                <p><em>"Mengetahui kondisi terkini di Indonesia."</em></p>
                <div class="news-items">
                    {{#each berita}} <!-- Looping untuk menampilkan data berita -->
                    <div class="news-item">
                        <h3>{{title}}</h3>
                        <p>{{description}}</p>
                        <a href="{{url}}" target="_blank">Baca Selengkapnya</a> <!-- Link ke artikel -->
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{>footer}}
    </div>
    
</body>
</html>
