<header class="site-header">
  <div class="header_top-row">
    <div class="header_logo">
      <img src="/img/line.svg" alt="logo-line" class="header_logo--line" />
      <h1>{{judul}}</h1>
    </div>

    <nav class="navbar">
      <a href="/">
        <img src="/img/nav_home.svg" alt="Home" class="nav-icon" />
        Home
      </a>
      <a href="/about">
        <img src="/img/nav_about.svg" alt="About" class="nav-icon" />
        About
      </a>
      <a href="/bantuan">
        <img src="/img/nav_help.svg" alt="Bantuan" class="nav-icon" />
        Bantuan
      </a>
      <a href="/berita">
        <img src="/img/nav_berita.svg" alt="Berita" class="nav-icon" />
        Berita
      </a>
    </nav>
  </div>
</header>