:root {
  /* ------Color variables------ */
  --pink_300: #f93fc1;
  --pink_900: #6f066d;
  --purple_300: #de66dc;
  --purple_400: #b338b1;
  --purple_400_01: #8c37ab;
  --purple_a100: #d08aff;
  --purple_a200_a8: #d83bf7a8;
  --purple_a400: #cf00ba;
  --purple_a400_01: #ff12c3;
  --white_a700_51: #ffffff51;
  --white_a700_68: #ffffff68;
  --white_a700_99: #ffffff99;

  --space-xs: 8px;
  --space-sm: 14px;

  --radius-xs: 4px;
  --radius-sm: 44px;
}

/* Body Styling */
body {
  font-family: "Poppins", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/default.jpg"); /* Path ke gambar background */
  background-size: cover; /* Agar gambar menutupi seluruh layar */
  background-position: center; /* Pusatkan gambar */
  background-repeat: no-repeat; /* Hindari pengulangan gambar */
  height: 100vh;
}

.container {
  min-height: 100vh;
  gap: 128px;
  background-image: url(/img/default.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    height: auto;
    gap: 106px;
  }
}

/* Container untuk tata letak keseluruhan */
.main-container {
  padding-top: 190px;
  width: 100%; /* Kontainer mengisi lebar penuh */
  margin: 0; /* Menghilangkan margin */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Main Content Styling */
.main-content {
  padding: 40px;
  text-align: center;
}

.main-content h1 {
  color: var(--purple_a400);
  font-size: 3em;
  margin-bottom: 0;
}

.main-content h5 {
  margin-top: -8px;
  color: var(--pink_300);
  font-style: italic;
  font-size: 20px;
}

.content_icons {
  margin-top: 30px;
  margin: auto;
  align-self: center;
  width: 30%;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.main-content p {
  color: var(--purple_a400_01);
}

/* Form styling */
.weather-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.weather-form input {
  margin: auto;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ff16c5;
  border-radius: 5px;
  width: 30%;
  transition: border-color 0.3s;
}

.weather-form input:focus {
  border-color: #918192;
  outline: none;
}

.weather-form button {
  margin: auto;
  padding: 10px 15px;
  background-color: var(--purple_a400);
  color: white;
  border: none;
  width: 180px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.weather-form button:hover {
  background-color: var(--purple_300);
}

/* Styling untuk informasi cuaca */
.weather-info {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--white_a700_51);
  border-radius: var(--radius-sm);
  border: 1px solid var(--white_a700_99);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.weather-info p {
  margin: 10px 0;
  font-size: 1.1em;
}

/* Responsiveness */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column; /* Menyusun link secara kolom */
    margin-top: 20px; /* Jarak di atas */
  }
}
